<div class="container">
    <div class="header">
        <nav class="navbar-inverse navbar-default radius">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Yedi24</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Şikayet Listesi <span class="sr-only">(current)</span></a></li>
                      <% if (session.kullaniciDetay!=null) {%>

                      <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Aktif Şikayetler <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Aktif Şikayetlerim</a></li>
                                <li><a href="#">Eski Şikayetlerim</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Profilim</a></li>
                      <% } %>
                      </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" data-toggle="modal" data-target="#yenisikayet">Yeni Şikayet</a>

                        <li><% if (session.kullaniciDetay==null) {%><a href="#signup" data-toggle="modal" data-target=".bs-modal-sm"> Kayit Ol/Giriş Yap  </a>  </li> <% } else {%>
                         <li><a href="/logout">Çıkış Yap</a>

                      <%}%>

                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container-fluid modal-content">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default"  id="toolbar">
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">

                              <label id="sonuc" for="sel1">Binalar:</label>
                              <select class="form-control" name="binaid" id="binaId">
                                <option value="0">Seçiniz</option>

                                <% _.each(binalar, function(bina) {%>
                                <option value="<%=bina.id%>"><%=bina.isim%></option>
                                <% }) %>

                              </select>
                            </div>
                            <div class="form-group">
                                <label for="sel1">Blok:</label>
                                <select class="form-control" name="blokid" id="blokId">
                                  <option value="0">Seçiniz</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sel1">Mekan: </label>
                                <select class="form-control" name="birimid" id="birimId">
                                  <option value="0">Seçiniz</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">


            <div class="col-md-12">
              <div id="toolbar1">
                <div class="form-inline" role="form">
                  <button id="kayitlistele" type="submit" class="btn btn-default">Kayitları Listele</button>
                </div>


              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <table id="sikayetTable" >
                    <thead>
                    <tr>
                        <th data-field="id">Bina</th>
                        <th data-field="id">Blok</th>
                        <th data-field="birimId.isim">Birim</th>
                        <th data-field="aciklama">Aciklama</th>
                    </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>

<!-- Login-->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <br>
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#signinTab" data-toggle="tab">Giriş Yap</a></li>
                    <li class=""><a href="#signup" data-toggle="tab">Kayit Ol</a></li>
                </ul>
            </div>
            <div class="modal-body">
                <div id="myTabContent" class="tab-content">

                    <div class="tab-pane fade active in" id="signinTab">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign In Form -->
                                <!-- Text input-->


                              <div class="control-group">
                                    <label class="control-label" for="signinEmail">Email:</label>
                                    <div class="controls">
                                        <input required="" id="signinEmail" name="email" type="text"
                                               class="form-control" placeholder="Email Adresiniz" class="input-medium"
                                               required="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="passwordinput">Şifre:</label>
                                    <div class="controls">
                                        <input required="" id="passwordinput" name="password" class="form-control"
                                               type="password" placeholder="Şifreniz" class="input-medium">
                                    </div>
                                </div>

                                <!-- Multiple Checkboxes (inline) -->
                                <div class="control-group">
                                    <label class="control-label" for="rememberme"></label>
                                    <div class="controls">
                                        <label class="checkbox inline" for="rememberme">
                                            <input type="checkbox" name="rememberme" id="rememberme"
                                                   value="rrememberme">
                                            Beni Hatirla
                                        </label>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="signin"></label>
                                    <div class="controls">
                                        <button id="signin" name="signin" class="btn btn-success">Giriş Yap</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signup">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign Up Form -->
                                <!-- Text input-->


                              <div class="control-group">
                                <label class="control-label" for="name">İsim:</label>
                                <div class="controls">
                                  <input id="registerName"  name="registername" type="text" class="form-control" placeholder="İsminiz" class="input-medium"
                                          required="">
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label" for="signinEmail">Soyadınız:</label>
                                <div class="controls">
                                  <input id="registerSurname" name="surname" type="text" class="form-control" placeholder="Soyadınız" class="input-medium"
                                          required="">
                                </div>
                              </div>



                              <div class="control-group">
                                    <label class="control-label" for="Email">Email:</label>
                                    <div class="controls">
                                        <input id="registerEmail" name="registeremail" class="form-control" type="text"
                                               placeholder="email adresiniz" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="password">Şifre:</label>
                                    <div class="controls">
                                        <input id="registerePassword" name="registerepassword" class="form-control" type="password"
                                               placeholder="********" class="input-large" required="">
                                        <em>1-8 Karakter</em>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="reenterpassword">Şifre Tekrar:</label>
                                    <div class="controls">
                                        <input id="registereReEnterPassword" class="form-control" name="registerereenterpassword"
                                               type="password" placeholder="********" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Multiple Radios (inline) -->
                                <br>
                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="confirmsignup"></label>
                                    <div class="controls">
                                        <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Kayit
                                            Ol
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>

            </div>
        </div>
    </div>
</div>

<!-- Şikayet Kayit-->
<div class="modal fade" id="yenisikayet" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Yeni Şikayet
        </h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">

        <form role="form">
          <div class="form-group">
            <label for="complainSubject">Şikayet Konusu</label>
            <input type="text" class="form-control" name="complainSubject" id="complainSubject" placeholder="Şikayetin Konusu"/>
          </div>
          <div class="form-group">
            <label for="sel1">Binalar:</label>
            <label id="sonuc" for="sel1">Binalar:</label>
            <select class="form-control" name="binaid" id="complainBinaId">
              <option value="0">Seçiniz</option>

              <% _.each(binalar, function(bina) {%>
              <option value="<%=bina.id%>"><%=bina.isim%></option>
              <% }) %>

            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Blok:</label>
            <select class="form-control" name="blokid" id="complainBlokId">
              <option value="0">Seçiniz</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Mekan: </label>
            <select class="form-control" name="birimid" id="complainBirimId">
              <option value="0">Seçiniz</option>
            </select>
          </div>

          <div class="form-group">
            <label for="compainContent">Şikayet İçeriği</label>

            <textarea class="form-control" rows="5" id="compainContent" name="compainContent"></textarea>

          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"/> Check me out
            </label>
          </div>
          <button id="complainSave" type="submit" class="btn btn-default">Gönder</button>
        </form>

      </div>

      <!-- Modal Footer -->
      <div class="modal-footer"> <button type="button" class="btn btn-default"  data-dismiss="modal">      Close     </button>
        <button type="button" class="btn btn-primary"> Save changes</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {



    $('#sikayetTable').bootstrapTable({

      method: 'get',
      url: 'http://localhost:1337/ajax/sikayet/list/',
      cache: false,
      striped: true,
      pagination: true,
      queryParams: function (p) {
        return {
          binaId: $('#binaId').val() ,
          blokId: $('#blokId').val(),
          birimId: $('#birimId').val(),
          limit: p.limit,
          offset: p.offset
        };
      },
      sidePagination:'server',
      pageSize: 10,
      pageList: [10, 25, 50, 100, 200],
      search: false,
      toolbar:"#toolbar1",
      showColumns: false,
      showRefresh: true,
      minimumCountColumns: 2,
      clickToSelect: false,
      columns: [{
        field: 'sikayetlerid',
        title: 'id',
        align: 'center',
        valign: 'middle',
        sortable: true
      }, {
        field: 'binaismi',
        title: 'Bina',
        align: 'center',
        valign: 'middle',
        sortable: true
      },{
        field: 'blokismi',
        title: 'Blok',
        align: 'center',
        valign: 'middle',
        sortable: true
      },  {
        field: 'birimismi',
        title: 'Birim',
        align: 'center',
        valign: 'middle',
        sortable: true
      },  {
        field: 'aciklama',
        title: 'Açiklama',
        align: 'left',
        valign: 'middle',
        sortable: true
      }
      ]
    });

    $('#binaId').change(function(){

      $('#sikayetTable').bootstrapTable('refresh');
    });
    $('#blokId').change(function(){

      $('#sikayetTable').bootstrapTable('refresh');
    });
    $('#birimId').change(function(){

      $('#sikayetTable').bootstrapTable('refresh');
    });
  });

 </script>
