<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/bootstrap-table.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.2.3.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/extensions/accent-neutralise/bootstrap-table-accent-neutralise.js"></script>
    <script src="/js/bootstrap-table/extensions/angular/bootstrap-table-angular.js"></script>
    <script src="/js/bootstrap-table/extensions/cookie/bootstrap-table-cookie.js"></script>
    <script src="/js/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="/js/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>
    <script src="/js/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.js"></script>
    <script src="/js/bootstrap-table/extensions/filter/bootstrap-table-filter.js"></script>
    <script src="/js/bootstrap-table/extensions/flat-json/bootstrap-table-flat-json.js"></script>
    <script src="/js/bootstrap-table/extensions/group-by-v2/bootstrap-table-group-by.js"></script>
    <script src="/js/bootstrap-table/extensions/group-by/bootstrap-table-group-by.js"></script>
    <script src="/js/bootstrap-table/extensions/key-events/bootstrap-table-key-events.js"></script>
    <script src="/js/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js"></script>
    <script src="/js/bootstrap-table/extensions/multiple-search/bootstrap-table-multiple-search.js"></script>
    <script src="/js/bootstrap-table/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
    <script src="/js/bootstrap-table/extensions/natural-sorting/bootstrap-table-natural-sorting.js"></script>
    <script src="/js/bootstrap-table/extensions/reorder-columns/bootstrap-table-reorder-columns.js"></script>
    <script src="/js/bootstrap-table/extensions/reorder-rows/bootstrap-table-reorder-rows.js"></script>
    <script src="/js/bootstrap-table/extensions/resizable/bootstrap-table-resizable.js"></script>
    <script src="/js/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.js"></script>
    <script src="/js/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-af-ZA.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ar-SA.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ca-ES.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-cs-CZ.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-da-DK.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-de-DE.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-el-GR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-en-US.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-es-AR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-es-CR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-es-ES.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-es-MX.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-es-NI.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-es-SP.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-et-EE.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-fa-IR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-fr-BE.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-fr-FR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-he-IL.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-hr-HR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-hu-HU.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-it-IT.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ja-JP.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ka-GE.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ko-KR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ms-MY.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-nb-NO.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-nl-NL.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-pl-PL.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-pt-BR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-pt-PT.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ro-RO.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ru-RU.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-sk-SK.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-sv-SE.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-th-TH.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-tr-TR.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-uk-UA.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-ur-PK.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-vi-VN.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-TW.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
