<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Şikayet Durum Tipi Ekle

    </h1>

  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box" style="width: 50%;">
      <div class="box-body">

        <% if (req.session.flash.message) {%>
        <div class="box-body">
        <div class="alert alert-<%- req.flash('type') %> alert-dismissable">
          <i class="fa fa-<%- req.flash('icon') %>"></i>
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          <b><%- req.flash('message') %></b>
        </div>
        </div>
        <%}%>
        <form role="form" action="/admin/sikayetdurumtipi/save" method="post">
        <!-- text input -->
        <div class="form-group">
          <label>Şikayet Durum Tipi <%- req.flash('type') %></label>
          <input type="text" name="name" id="name" class="form-control">
        </div>
          <div class="form-group">
            <label for="name">Tipin Durumu</label>
            <div class="checkbox">
              <label>
            <input type="radio" name="surec" value="0" class="form-control"> Durağan

              </label>
            </div>

                <div class="checkbox">
                  <label>
            <input type="radio" name="surec" value="1"  class="form-control"> Sürdürülebilir
                  </label>
                </div>

          </div>
        <div class="form-group">
          <button class="btn btn-primary btn-sm">Ekle</button>
        </div>

        </form>
      </div>
    </div>
  </section>
  <!-- /.content -->
</aside>


<script type="text/javascript">
  function form_validate(){
    var name=$("#name").val().length;
    if(name<3){
      alert("Isim en az 3 karakter olmalı");
      return false;
    }
  }

</script>
